/* Add CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&family=Source+Code+Pro:ital,wght@0,300;0,400;1,400&display=swap');

/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start of my code */

body {
    font-family: Poppins, sans-serif;
}

.container {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 1000px;
    /* border: 1px solid black; */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 5%;
    /* border: 1px solid black; */
    align-items: center;
}
.title-card {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 450px;
    width: 100%;
}

.title-card .main-text {
    background:url(https://picsum.photos/seed/civerrr/1000/400);
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-repeat: no-repeat;
}

.title-card .main-text h2 {
    font-size: 45px;
    margin-top: 110px;
    line-height: 1.2;
    color: white;
    text-shadow: 5px 5px 10px black;
    margin-left: 40px;
    margin-right: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.featured-project {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.featured-project p {
    margin: 15px 0 0 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-family: "Source Code Pro", monospace;
}

h2 span {
    font-style: italic;
}

footer {
    text-align: center;
    padding: 50px;
    background: lightcyan;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 0 5px;
}

.title-card .main-text #title-card-button {
    border: none;
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 10px black;
    margin: 20px auto;
    text-transform: uppercase;
    text-decoration: underline;
}



@media (max-width:800px) {
    header nav {
        display: flex;
        flex-direction: column;
    }

    header nav a {
        margin: 0 0 10px 0;
        text-align: center;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        margin: 0 0 20px 0;
    }

    .title-card .main-text h2 {
        margin-top: 100px;
        font-size: 35px;
    }

    .featured-project {
        width: 45%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px auto;
    }
}

@media (max-width:500px) {
    .container {}
} 